<p>This repository is used to generate the website at www.amdatu.org. If you want to do this yourself, you need to install &#39;awestruct&#39; from http://awestruct.org/ first and clone this project.</p>

<p>Next, you need to contact one of the existing developers to add your SSH key to www.amdatu.org so you can deploy using rsync (which is what awestruct does under the covers). If that is setup, deploying the site can be done with: <code>awestruct -g --deploy</code>.</p>
